<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Flyfighter/Solution</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="./css/bootstrap.css">
  <!-- <link rel="stylesheet" href="./css/style.css"> -->
  <link rel="stylesheet" href="./css/main.css">
  <!-- <link rel="stylesheet" href="./css/mdb.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="./js/farmprotect.js"></script>
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
    }
  </style>

</head>

<body>

  <!-- Header starts -->
  <header id="header" class="header-section">
    <!-- Nav Bar begins -->
    <div class="container-fluid">
      <nav class="navbar sticky-top navbar-expand-md navbar-light bg-white">
        <a href="./" class="navbar-brand">
          <h3><img class="logo-dark" src="./img/Fly Fighters Logo.png" width="60" height="60" alt="Fly Fighters">
            Fly Fighters</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="d-flex menu-wrap"> -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div id="mainmenu" class="mainmenu ml-auto">
            <ul class="nav">
              <li><a href="./">Home</a></li>
              <li><a href="./#feature">Services</a></li>
              <li><a href="./#aboutus">About Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Nav Bar ends -->
    </div>
  </header>
  <!-- Header ends-->

  <!-- Main starts -->
  <main>
    <!--buffer-->
    
    <!-- Solution Section Starts-->
    <section class="promo-section padding bg-grey">
      <div class="food-1"></div>
      <div class="food-2"></div>
      <div class="container-fluid">
        <div class="section-heading mb-40 text-center">
          <!-- <img src="img/title-border.png" alt="img"> -->
          <h2>Recommended Methods</h2>
          <p>Please answer the below questions <br>to get the best suitable methods for your farm</p>
        </div>
        <div class="promo-wrap row">
          <div class="col-md-6 col-sm-6 xs-padding">
            <img src="./img/hermes-rivera-0h72pYvHrEY-unsplash.jpg" alt="img">
          </div>
          <div class="col-md-6 col-sm-6 xs-padding">
            <div class="promo-item text-center">
              <i class="food-icon food-iconolives"></i>
              <!--question(yes/no)  currently farming-->
              <div class="w3-row" id="curfarming">
                <div class="w3-full w3-container">
                  <div class="w3-white">
                    <h3>Are you currently farming?</h3>
                    <p>Choose from the below options.</p>
                    <div>
                      <div class="w3-half">
                        <div class="w3-row"></div>
                        <div style="height: 30px; text-align: center"></div>
                        <div style="height: 0px;"></div>
                        <div class="btn btn-outline-default btn-rounded waves-effect" style="margin-left: 20%">
                          <a class="btn" role="btn" style="color: #34ad54; " onclick="btn1()">Yes</a></div>
                      </div>
                    </div>
                    <div>
                      <div class="w3-half">
                        <div class="w3-row"></div>
                        <div style="height: 30px; text-align: center"></div>
                        <div style="height: 0px;"></div>
                        <div class="btn btn-outline-default btn-rounded waves-effect" style="margin-left: 20%">
                          <a class="btn" role="btn" style="color: #34ad54; " onclick="btn2()">No</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--quention1 select fruit-->
              <div class="w3-row" id="selectfruit" style="display: none">
                <div class="w3-full w3-container">
                  <div style="height: 100px; width:auto;text-align: center">
                    <div class="w3-white">
                      <h3>What fruit are you growing in your farm?</h3>
                      <p>Choose from the below options. (1/4)</p>
                      <select id="profruit">
                        <option value="none" selected disabled hidden>Select from the options</option>
                        <option value="Grapes">Grape</option>
                        <option value="Apples">Apple</option>
                        <option value="Peaches">Peach</option>
                        <option value="Melons">Melon</option>
                        <option value="Oranges">Orange</option>
                        <option value="Pears">Pear</option>
                        <option value="Tomatoes">Tomato</option>
                        <option value="Bananas">Banana</option>
                        <option value="Mangoes">Mango</option>
                        <option value="Apricots">Apricot</option>
                        <option value="Olives">Olive</option>
                      </select>
                      <!--botton-->
                    <div style="text-align: center">
                      <!-- <div style="height: 0px;"></div> -->
                      <div class="btn btn-outline-default btn-rounded waves-effect">
                        <a class="btn" role="btn" style="color: #34ad54;" onclick="btn3()">Next</a>
                      </div>
                    </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!--question2 the farm size-->
              <div class="w3-row" id="farmsize" style="display: none">
                <div class="w3-full w3-container">
                  <div style="height: 100px; width:auto;text-align: center">
                    <div class="w3-white">
                      <h3>What is your farm size (in acres)?</h3>
                      <p>Choose from the below options. (2/4)</p>
                      <select id="profarmsize">
                        <option value="none" selected disabled hidden>Select from the options</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                      </select>
                       <!--botton-->
                    <div style="text-align: center">
                      <!-- <div style="height: 0px;"></div> -->
                      <div class="btn btn-outline-default btn-rounded waves-effect">
                        <a class="btn" role="btn" style="color: #34ad54;" onclick="btn4()">Next</a>
                      </div>
                    </div>
                    </div>
                   
                  </div>
                </div>
              </div>
              <!--question3 the stage of the farm-->
              <div class="w3-row" id="stage" style="display: none">
                <div class="w3-full w3-container">
                  <div style="height: 100px; width:auto;text-align: center">
                    <div class="w3-white">
                      <h3>At what stage of farming, are you?</h3>
                      <p>Choose from the below options. (3/4)</p>
                      <select id="prostage">
                        <option value="none" selected disabled hidden>Select from the options</option>
                        <option value="Cultivate">Cultivate</option>
                        <option value="Sowing">Sowing</option>
                        <option value="Fertilize">Fertilize</option>
                        <option value="Grow">Grow</option>
                        <option value="Harvest">Harvest</option>
                      </select>
                       <!--botton-->
                    <div style="text-align: center">
                      <!-- <div style="height: 0px;"></div> -->
                      <div class="btn btn-outline-default btn-rounded waves-effect">
                        <a class="btn" role="btn" style="color: #34ad54; " onclick="btn5()">Next</a>
                      </div>
                    </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!--question4(yes/no)  medfly issue-->
              <div class="w3-row" id="faceissue" style="display: none">
                <div class="w3-full w3-container">
                  <!--<div style="height: 100px; width:auto;text-align: center">-->
                  <div class="w3-white">
                    <h3>Are you currently facing any Medfly issues?</h3>
                    <p>Choose from the below options. (4/4)</p>
                  </div>
                  <div>
                    <div class="w3-half">
                      <div class="w3-row"></div>
                      <div style="height: 30px; text-align: center"></div>
                      <div style="height: 0px;"></div>
                      <div class="btn btn-outline-default btn-rounded waves-effect" style="margin-left: 20%">
                        <a class="btn" role="btn" style="color: #34ad54; " onclick="btn6()">Yes</a></div>
                    </div>
                  </div>
                  <div>
                    <div class="w3-half">
                      <div class="w3-row"></div>
                      <div style="text-align: center"></div>
                      <!-- <div style="height: 0px;"></div> -->
                      <div class="btn btn-outline-default btn-rounded waves-effect" style="margin-left: 20%">
                        <a class="btn" role="btn" style="color: #34ad54; " onclick="btn7()">No</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--result page mitigation-->
              <div id="mitresult" class="w3-container w3-content w3-center w3-padding-64"
                style="max-width:90%;display: none">
                <div>
                  <!-- <h2 class="w3-wide">Recommended Mitigation Methods</h2> -->
                  <!--buffer-->
                  <div style="height: 0px; width:max-content;"></div>
                </div>
                <div id="method1" style="background-color: #EDE7E5; width: 100%; height: 100%;">
                  <p class="w3-justify"></p>
                </div>
              </div>
              <!--result page precautionary-->
              <div id="precauresult" class="w3-container w3-content w3-center w3-padding-64"
                style="max-width:90%;display: none">
                <div>
                  <h2 class="w3-wide">Recommended Precautionary Methods</h2>
                  <!--buffer-->
                  <div style="height: 0px; width:max-content;"></div>
                </div>
                <div id="method2" style="background-color: #EDE7E5; width: 100%; height: 100%;">
                  <p class="w3-justify"></p>
                </div>
              </div>
              <!--are you wish to farm "no" question1 the season-->
              <div class="w3-row" id="season" style="display: none">
                <div class="w3-full w3-container">
                  <div style="height: 100px; width:auto;text-align: center">
                    <div class="w3-white">
                      <h3>Which season do you plan to farm?</h3>
                      <p>Choose from the below options. (1/2)</p>

                      <select id="proseason">
                        <option value="none" selected disabled hidden>Select from the options</option>
                        <option value="Broome">Spring</option>
                        <option value="Bunbury">Summer</option>
                        <option value="Carnarvon">Autumn</option>
                        <option value="Donnybrook">Winter</option>
                      </select>
                      <!--botton-->
                    <div style="text-align: center">
                      <!-- <div style="height: 0px;"></div> -->
                      <div class="btn btn-outline-default btn-rounded waves-effect">
                        <a class="btn" role="btn" style="color: #34ad54; " onclick="btn8()">Next</a>
                      </div>
                    </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!--are you wish to farm "no" question1 the fruit-->
              <div class="w3-row" id="fruitgrow" style="display: none">

                <div class="w3-full w3-container">
                  <div style="height: 100px; width:auto;text-align: center">
                    <div class="w3-white">
                      <h3>Which fruit do you plan to grow?</h3>
                      <p>Choose from the below options. (2/2)</p>

                      <select id="notcurfruit">
                        <option value="none" selected disabled hidden>Select from the options</option>
                        <option value="Grape">Grape</option>
                        <option value="Apple">Apple</option>
                        <option value="Peach">Peach</option>
                        <option value="Melon">Melon</option>
                        <option value="Orange">Orange</option>
                        <option value="Pear">Pear</option>
                        <option value="Tomato">Tomato</option>
                        <option value="Banana">Banana</option>
                        <option value="Mango">Mango</option>
                        <option value="Apricot">Apricot</option>
                        <option value="Olive">Olive</option>
                      </select>
                      <!--botton-->
                    <div style="text-align: center">
                      <!-- <div style="height: 0px;"></div> -->
                      <div class="btn btn-outline-default btn-rounded waves-effect">
                        <a class="btn" role="btn" style="color: #34ad54;" onclick="btn9()">Submit</a>
                      </div>
                    </div>
                    </div>
                     
                  </div>
                </div>
              </div>
              <!--result page precautionary-->
              <div id="protectmitigate" class="w3-container w3-content w3-center w3-padding-64"
                style="max-width:90%;display: none">
                <div>
                  <!-- <h2 class="w3-wide">Recommended Precautionary Methods</h2> -->
                  <!--buffer-->
                  <div style="height: 0px; width:max-content;"></div>
                </div>
                <div id="method3" style="background-color: #EDE7E5; width: 100%; height: 100%;">
                  <p class="w3-justify"></p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Solution Section Ends-->
  </main>
  <!-- Main ends -->

  <!-- Footer starts-->
  <footer class="page-footer footer bg-dark font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-white text-center py-3">© 2020 Copyright:
      <a href="http://flyfighter.bike/"> Fly Fighters</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer ends-->
  
  <!-- Bootstrap required, JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>