<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Flyfighter</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="./css/bootstrap.css">
  <!-- <link rel="stylesheet" href="./css/style.css"> -->

  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>

  <!-- Header starts -->
  <header id="header" class="header-section">
    <!-- Nav Bar begins -->
    <div class="container-fluid">
      <nav class="navbar sticky-top navbar-expand-md navbar-light bg-white">
        <a href="./" class="navbar-brand">
          <h3><img class="logo-dark" src="./img/Fly Fighters Logo.png" width="60" height="60" alt="Fly Fighters">
            Fly Fighters</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="d-flex menu-wrap"> -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div id="mainmenu" class="mainmenu ml-auto">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#feature">Services</a>
                <!-- <a data-toggle="collapse" data-target=".in" href="#feature">Services</a> -->
              </li>
              <li>
                <a href="#aboutus">About Us</a>
              </li>
            </ul>
          </div>
          <!--<div class="header-right">
            <a class="menu-btn btn-white" href="#abc">Get Started</a>
          </div>-->
        </div>
      </nav>
      <!-- Nav Bar ends -->
    </div>
  </header>
  <!-- Header ends-->

  <!-- Cover Page begins -->
  <div id="cover">
    <div class="v-header container">
      <div class="fullscreen-video-wrap">
        <!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" style="width:100%; height: 100%;">
      <source src="./img/homepage_video.mp4" type="video/mp4">
    </video> -->
        <img src="./img/kelly-sikkema-E8AYWP4U6w0-unsplash.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <!-- <div class="overlay"></div> -->
      <div class="header-content text-md-center">
        <div class="container h-100">

          <div class="d-flex h-100 text-center align-items-center">

            <div class="w-100">
              <h1 class="display-3 col-sm-12 col-md-12 col-lg-12">Welcome Aussie Farmers</h1>
              <!-- <p class="display-3 col-sm-12 col-md-12 col-lg-12" >Welcome Aussie Farmers</p> -->
              <p class="lead col-sm-12 col-md-12 col-lg-12" style=" line-height: 1;">
                At Fly Fighters, we aim to
                assist you with the Medfly issue
                by offering you the right measures suitable per your need.
              </p>
              <a class="btn" role="button" href="#abc" style="background-color: #34ad54;">GET STARTED
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cover Page ends -->

  <!-- Main starts -->
  <main>
    <!-- Feature Section Starts -->
    <section id="feature" class="gallery-section padding">
      <div class="container-fluid">
        <div class="section-heading mb-40 text-center">
          <!-- <img src="img/title-border.png" alt="img"> -->
          <h2>Our Services</h2>
          <p>As a farmer, there are a lot of things to keep an eye on. Being a farmer from WA, additional concerns are
            of Medfly attacks. <br>Here, in Fly Fighters, we get you the best possible strategies to secure and restrain
            the Medfly spread.</p>
        </div>
        <div class="gallery-wrap row">
          <div class="col-lg-6 col-sm-6 padding-15">
            <div class="gallery-item text-center">
              <img src="./img/eddie-kopp-5FsE88h3Wak-unsplash.jpg" alt="img">
              <h3>Unique</h3>
              <p>Get
                unique
                solutions to your problems.</p>
              <!-- <div class="gallery-content">
                <h3><a class="img-popup vbox-item">Unique<span>Get
                      unique
                      solutions to your problems.</span></a></h3>

              </div> -->
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 padding-15">
            <div class="gallery-item text-center">
              <img src="./img/sara-the-freak-A4UojtraSrw-unsplash.jpg" alt="img">
              <h3>Accurate</h3>
              <p>Get accurate prediction to be a
                step ahead.</p>
              <!-- <div class="gallery-content">
                <h3><a class="img-popup vbox-item">Accurate<span>Get accurate prediction to be a
                      step ahead.</span></a></h3>
              </div> -->
            </div>
          </div>


        </div>
      </div>
    </section>
    <!-- Feature Section Ends -->

    <!-- Solution Section Starts-->
    <section id="abc" class="promo-section padding bg-grey pos-rel">

      <div class="container-fluid">
        <div class="section-heading mb-40 text-center">
          <!-- <img src="img/title-border.png" alt="img"> -->
          <h2>Let's get started</h2>
          <p>Choose what suits you best</p>
        </div>
        <div class="promo-wrap row">
          <div class="col-md-6 col-sm-6 xs-padding">
            <div class="promo-item text-center">
              <i class="food-icon food-iconolives"></i>
              <img src="./img/jed-owen-1JgUGDdcWnM-unsplash.jpg" alt="img">
              <h3>Rookie Farmer</h3>
              <p>There are lot of things to catch up, let Medfly be your least concern.</p>
              <a class="btn" href="./prediction" role="button" style="font-size: 2vw;">Explore</a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 xs-padding">
            <div class="promo-item text-center">
              <i class="food-icon food-iconcauliflower"></i>
              <img src="./img/jesse-orrico-IdjxBF_StBk-unsplash-2.jpg" alt="img">
              <h3>Seasoned Farmer</h3>
              <p>Medfly spreads like a grass fire, even the seasoned farmer can be caught out.</p>

              <a class="btn" href="./twoway" role="button" style="font-size: 2vw;">Explore</a>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- Solution Section Ends-->

    <!-- About Us Section Starts -->
    <section id="aboutus" class="promo-section padding pos-rel">

      <div class="container">
        <div class="section-heading mb-40 text-center">
          <!-- <img src="img/title-border.png" alt="img"> -->
          <h2>About Us</h2>
          <!-- <p></p> -->
        </div>
        <div class="promo-wrap row">
          <div class="col-md-12 col-sm-12 xs-padding">
            <div class="promo-item text-center">
              <i class="food-icon food-iconolives"></i>
              <p>The Mediterranean Fruit Fly (MedFly) is considered a grave horticulture pest in Western Australia. With
                their tiny stature, it is difficult to spot them easily.
              </p>
              <p>We, at Fly Fighters, plans to assist the farmers in reducing the hassle to determine the correct
                control measures suitable for their farm. Also, inform them about the possible MedFly presence in their
                area.</p>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- About Us Section Ends -->
  </main>
  <!-- Main ends -->

  <!-- Footer -->
  <footer class="page-footer bg-dark font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-white text-center py-3">© 2020 Copyright:
      <a href="http://iteration2.flyfighter.bike/"> Fly Fighters</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer ends-->


  <!-- Bootstrap required, JS, Popper.js, and jQuery -->


  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>