<!DOCTYPE html>
<html>
<title>Welcome to Flyfighter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/main.css">
<!-- <link rel="stylesheet" href="./css/style.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<style>

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
</style>

<body>

  <!-- Header starts -->
  <header id="header" class="header-section">
    <!-- Nav Bar begins -->
    <div class="container-fluid">
      <nav class="navbar sticky-top navbar-expand-md navbar-light bg-white">
        <a href="./" class="navbar-brand">
          <h3><img class="logo-dark" src="./img/Fly Fighters Logo.png" width="60" height="60" alt="Fly Fighters">
            Fly Fighters</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="d-flex menu-wrap"> -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div id="mainmenu" class="mainmenu ml-auto">
            <ul class="nav">
              <li><a href="./">Home</a></li>
              <li><a href="./#feature">Services</a></li>
              <li><a href="./#aboutus">About Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Nav Bar ends -->
    </div>
  </header>
  <!-- Header ends-->

  <!-- Main starts -->
  <section class="gallery-section padding bg-grey">
    <div class="container-fluid">
      <div class="section-heading mb-40 text-center">
        <!-- <img src="img/title-border.png" alt="img"> -->
        <h2>Seasoned Farmer</h2>
        <p>Learn ways to protect your farm and check if your farm has a MedFly presence in the coming days</p>
      </div>
      <div class="gallery-wrap row text-center">
        <div class="col-lg-6 col-sm-6 padding-15">
          <div class="gallery-item">
            <img src="./img/ravi-roshan-_AdUs32i0jc-unsplash.jpg" alt="img">
            <a href="./farmprotect">
              <h3>Farm Protection</h3>
              <p>Ways to defend your farm from
                Medfly.</p>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 padding-15">
          <div class="gallery-item">
            <img src="./img/rob-pumphrey-xUPYkzQ5vtQ-unsplash.jpg" alt="img">
            <a href="./prediction2" >
              <h3>MedFly Forecast</h3>
              <p>Discover Medfly attack in your
                area.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main ends -->

  <div style="height: 100px; width: 100%;"></div>

  <!-- Footer starts-->
  <footer class="page-footer footer bg-dark font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-white text-center py-3">© 2020 Copyright:
      <a href="http://flyfighter.bike/">Fly Fighters</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer ends-->

  <!-- Bootstrap required, JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>